body{
  padding:10%;
  background-color:#F5F3F9;
}

h1, h3{
  text-align:center;
  padding:0px;
}

.introduction{
  padding-bottom:2%;
}

.buttons{
  padding-top:5%;
}

.cardi{
  margin-top:5%;
}

.icon{
    display: inline-block;
    text-align:center;
}

.person{
    text-align:center;
}
