{% extends "layout.html" %}
{% block content %}

{% if form.errors %}
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form[field_name].label }}: {{ error }}
        </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<h1>Create Project</h1>
<form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
    	{{ form.name.label }}
    	{{ form.name(class="form-control") }}
	</div>
	<div class="form-group">
    	{{ form.shortDesc.label }}
    	{{ form.shortDesc(class="form-control") }}
	</div>
	<div class="form-group">
    	{{ form.description.label }}
    	{{ form.description(class="form-control") }}
	</div>
	<div class="form-group">
    	{{ form.url.label }}
    	{{ form.url(class="form-control") }}
	</div>
	<div class="form-group">
    	{{ form.stack.label }}
    	{{ form.stack(class="form-control") }}
	</div>
	<div class="form-group">
    	{{ form.platforms.label }}
    	{{ form.platforms(class="form-control") }}
	</div>
	{{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}


