{% extends "layout.html" %}

{% block content %}
<div class="container-fluid introduction">
    <h1>/r/TeenDeveloper Hackathon!</h1>
</div>

 <div class="container-fluid">
   <div class="row">
       <div class="col-sm">
           <h1 id="days">00</h1>
    	   <h3>Days</h3>
       </div>
       <div class="col-sm">
           <h1 id="hours">00</h1>
           <h3>Hours</h3>
       </div>
       <div class="col">
           <h1 id="minutes">00</h1>
           <h3>Minutes</h3>
       </div>
       <div class="col">
           <h1 id="seconds">00</h1>
           <h3>Seconds</h3>
       </div>
     </div>
</div>
{% if current_user.is_authenticated %}
<div class ="container-fluid text-center buttons">
     <button type="button" class="btn btn-dark" onclick="window.location.href='/createproject'">Create Project</button>
     <button type="button" class="btn btn-dark registerbutton" onclick="window.location.href='/projects'">See Projects</button>
</div>
{% else %}
<div class ="container-fluid text-center buttons">
     <button type="button" class="btn btn-dark" onclick="window.location.href='/register'">Sign Up</button>
     <button type="button" class="btn btn-dark registerbutton" onclick="window.location.href='/login'">Sign In</button>
     <button type="button" class="btn btn-dark registerbutton" onclick="window.location.href='/projects'">See Projects</button>
</div>
{% endif %}

<script src="{{ url_for('static', filename='countdown.js') }}"></script>
{% endblock %}


