{% extends "layout.html" %}

{% block content %}
<div class="container-fluid introduction">
    <h1>Projects</h1>
</div>

<div class="container-fluid">
  <div class="row">
  {% if submissions %}
    {% for submission in submissions %}
  <div class="col-sm">
    <div class="card cardi" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{submission.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Published by: {{ participants[submission.author-1].firstName + ' ' +  participants[submission.author-1].lastName }}</h6>
        <p class="card-text">{{submission.shortDesc}}</p>
        <a href="/projects/{{submission.id}}" class="card-link">Visit Project!</a>
        {% if submission.votingEnabled == 1 %}
        <form action="" method="post">
            <button name="vote" value="{{submission.id}}" class="btn btn-primary">Vote</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
    {% endfor %}
  {% else %}
  <div class="container-fluid">
    <h1>No projects uploaded yet! Come back later.</h1>
  </div>
  {% endif %}
  </div>
</div>
{% endblock %}

