{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <h1>{{submission.name}}</h1>
</div>

<div class="container-fluid">
    <h3>{{submission.description}}</h3>
</div>

<br>

<div class="container-fluid">
    <h3 class="text-left"> Built with: {{submission.stack}}</h3>
</div>

<div class="container-fluid">
    <h3 class ="text-left">Available for: {{submission.platforms}}</h3>
</div>

<div class="container-fluid">
    <h3 class ="text-left">Check it out at: {{submission.url}}</h3>
</div>

<hr></hr>

<div class="container-fluid">
    <h1>Created By</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="person">
                <i class="fas fa-user fa-7x text-center icon" style=" vertical-align: middle;"></i>
                <h4 class="text-center">{{participants[submission.author-1].firstName}}  {{participants[submission.author-1].lastName}}</h4>
                <h4 class="text-center"><i class="fas fa-map-marker"></i> {{participants[submission.author-1].location}}</h4>
            </div>
        </div>
        {% for teamate in teamates %}
        <div class="col-sm">
            <div class="person">
                <i class="fas fa-user fa-7x text-center icon" style=" vertical-align: middle;"></i>
                <h4 class="text-center">{{participants[teamate.participantId-1].firstName}}  {{participants[teamate.participantId-1].lastName}}</h4>
                <h4 class="text-center"><i class="fas fa-map-marker"></i> {{participants[teamate.participantId-1].location}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if submission.votingEnabled == 1 %}
    <hr></hr>
    <div class="container-fluid text-center">
        <h1>Vote for this Project</h1>
        <form action="" method="post">
            <button name="vote" value="{{submission.id}}" class="btn btn-primary center-block">Vote</button>
        </form>
    </div>
{% endif %}

{% endblock %}
